
/* sequense of properties */
/* position */
/* box model */
/* typography */
/*  styling */
/* animation */
/* other */




/*        BASE           */
body {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

h1 {
  /* no h1 teg in html */

}

h2 {
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}


/*        LAYOUT         */


/*        MODULES        */


/*        STATE          */


/*        THEME          */



