body {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum", Arial, sans-serif;
}

@font-face {
    font-weight: normal;
	font-style: normal;

	font-family: "symbols-technomart";
	src: url("../fonts/symbols-technomart.woff") format("woff"),
	url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    display: inline-block;
    width: 1em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    font-weight: normal;
    line-height: 1em;
    font-family: "symbols-technomart";
    text-align: center;
    text-transform: none;
    text-decoration: inherit;
    font-style: normal;
    font-variant: normal;
    speak: none;
}

.icon-left::before {
    content: "\3c";
} /* "&lt;" */
.icon-right::before {
    content: "\3e";
} /* "&gt;" */
.icon-right-b::before {
    content: "\3e";
} /* "&gt;" */
.icon-basket::before {
    content: "\62";
} /* "b" */
.icon-facebook::before {
    content: "\66";
} /* "f" */
.icon-twitter::before {
    content: "\74";
} /* "t" */
.icon-vk::before {
    content: "\76";
} /* "v" */
.icon-up::before {
    content: "\2c4";
} /* "˄" */
.icon-down::before {
    content: "\2c5";
} /* "˅" */
.icon-left-big::before {
    content: "\2190";
} /* "←" */
.icon-right-big::before {
    content: "\2192";
} /* "→" */
.icon-login::before {
    content: "\2386";
} /* "⎆" */
.icon-logout::before {
    content: "\241b";
} /* "␛" */
.icon-up-dir::before {
    content: "\25b2";
} /* "▲" */
.icon-down-dir::before {
    content: "\25bc";
} /* "▼" */
.icon-circle::before {
    content: "\25cb";
} /* "○" */
.icon-circle-dot::before {
    content: "\25cf";
} /* "●" */
.icon-star::before {
    content: "\2605";
} /* "★" */
.icon-check-off::before {
    content: "\2610";
} /* "☐" */
.icon-check-on::before {
    content: "\2611";
} /* "☑" */
.icon-youtube::before {
    content: "\f39e";
} /* "" */
.icon-home::before {
    content: "🏠";
} /* "\1f3e0" */
.icon-user::before {
    content: "👨";
} /* "\1f468" */
.icon-phone::before {
    content: "📞";
} /* "\1f4de" */
.icon-instagramm::before {
    content: "📷";
} /* "\1f4f7" */
.icon-search::before {
    content: "🔍";
} /* "\1f50d" */
.icon-bookmark::before {
    content: "🔖";
} /* "\1f516" */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
}

.main-header {
    min-width: 960px;
    font-family: Cuprum;
    background: #f1f5f7;
}

.top-header {
    background: #293449;
    margin: 0;
}

.top-header a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.logo {
    position: relative;
    display: block;
    float: left;
    padding: 9px 0;
    width: 220px;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background-color: #ee3643;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
    position: relative;
    display: block;
    float: left;
    width: 270px;
    height: 42px;
}

.inp-search {
    width: 206px;
    padding: 12px 0;
    padding-left: 49px;
    padding-right: 15px;
    border: none;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    background-color: #293449;
    opacity: 1;
    text-transform: none;
}

.icon-search {
    position: absolute;
    top: 12px;
    left: 17px;
    color: #fff;
    opacity: 0.3;
    font-size: 17px;
    line-height: 18px;
}

.inp-search::-webkit-input-placeholder {
    color: #FFFFFF;
}

.search input:hover ~ label {
    opacity: 1;
}

.search input:hover {
    background-color: #212a3a;
}

.search input:focus {
    background-color: #fff;
}

.search input:focus ~ label {
    color: #ee3643;
    opacity: 1;
}

.search .inp-search:focus {
    background-color: #FFFFFF;
    color: #111111;
    outline: none;
}

.search .inp-search:focus + .search-submit-btn {
    background-color: #FFFFFF;
    color: #EE3643;
}

.inp-search:active {
    background-color: #293449;
}

.inp-search:focus {
    background-color: #fff;
    color: #293449;
}

.header-btn {
    position: relative;
    display: block;
    width: 150px;
    font-weight: normal;
    font-size: 17px;
    line-height: 18px;
    padding: 12px 0;
    float: left;
}

.header-btn a {
    padding: 12px 30px 12px 43px;
}

.header-btn:active {
    color: rgba(255,255,255,0.6);
}

.bookmarks::before,
.cart::before {
    opacity: 0.3;
    padding-right: 12px;
}

.bookmarks:hover::before,
.cart:hover::before {
    opacity: 1;
}

.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmarks:active::before,
.cart:active::before {
    opacity: 0.5;
}

.bookmarks:active,
.cart:active {
    background-color: #161d29;
}

.cart-full {
    background-color: #ee3643;
}

.cart-full:hover {
    background-color: #ee3643;
}

.order {
    text-align: center;
    background-color: #63a63e;
}

.order:hover {
    background-color: #91cf72;
}

.order:active {
    background-color: #799970;
}

/*--------------header-bottom---------------*/

.header-bottom {
    padding-top: 46px;
    padding-bottom: 60px;
    background-color: #f1f5f7;
}

.header-text p {
    width: 200px;
    float: left;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-weight: normal;
    font-style: italic;
    margin-left: 50px;
    padding-bottom: 45px;
}

.header-contacts {
    float: left;
    margin-top: 14px;
}

.phone {
    position: relative;
    padding-left: 70px;
    padding-right: 49px;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-left: 70px;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
    font-weight: normal;
    border: 3px solid #fff;
}

.phone::before {
    position: absolute;
    display: block;
    content: "";
    width: 19px;
    height: 19px;
    top: 10px;
    left: 15px;
}

.header-contacts p {
    margin-left: 70px;
    font-size: 14px;
    line-height: 20px;
    color: #32425c;
    font-weight: normal;
    text-align: center;
    margin-top: 18px
}

.user-block {
    float: right;
    font-weight: normal;
}

.sign-in {
    display: block;
    float: left;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    background-color: #fff;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
}

.registration {
    display: block;
    float: left;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    font-weight: normal;
    background-color: #fff;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 13px;
    margin-right: 10px;
}

.icon-logout::before, 
.icon-user::before, 
.icon-login::before {
    color: #32425C;
    opacity: 0.3;
}

.icon-logout:hover::before, 
.icon-user:hover::before, 
.icon-login:hover::before {
    opacity: 1;
}

.icon-user::before {
    position: absolute;
    left: 10px;
    top: 10px;
}

.icon-logout {
    position: relative;
    right: 10px;
    bottom: 2px;
}

.user-block .sign-in:hover,
.user-block .registration:hover {
    color: #ee3643;
}

.user-block .sign-in:active,
.user-block .registration:active {
    color: rgba(0,0,0,0.3);
}

.user-block .sign-in:hover::before {
    background-position: -2px -191px;
}

.auth-user {
    position: relative;
    width: 299px;
    height: 45px;
    margin-bottom: 5px;
    background-color: #fff;
}

.user-block .user-name {
    margin: 0 47px;
    font-size: 21px;
    line-height: 45px;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.user-block .user-exit {
    position: absolute;
    display: block;
    font-size: 22px;
    top: 14px;
    right: 10px;
    width: 21px;
    height: 17px;
}

.auth-user:hover::before,
.user-block .user-exit:hover {
    opacity: 1;
}

.auth-user:active::before,
.user-block .user-exit:active,
.user-block .user-name:active {
    opacity: 0.3;
}

.user-block .user-orders,
.user-block .user-account {
    font-size: 16px;
    line-height: 21px;
    color: #32425c;
    background: none;
    text-decoration: underline;
}

.user-block .user-orders {
    position: relative;
    margin-left: 17px;
    padding-right: 19px;
}

.user-block .user-account {
    margin-left: 13px;
}

.user-block .user-orders::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    right: 0;
    background-color: #32425c;
    border-radius: 50%;
}

.user-block .user-orders:hover,
.user-block .user-account:hover {
    color: #ee3643;
}

.user-block .sign-in:active,
.user-block .registration:active {
    color: rgba(0,0,0,0.3);
}

.user-block .sign-in:hover::before {
    background-position: -2px -191px;
}

.auth-user {
    position: relative;
    width: 299px;
    height: 45px;
    margin-bottom: 5px;
    background-color: #fff;
}

.user-block .user-exit {
    position: absolute;
    display: block;
    font-size: 22px;
    top: 14px;
    right: 10px;
    width: 21px;
    height: 17px;
}

.auth-user:hover::before,
.user-block .user-exit:hover {
    opacity: 1;
}

.auth-user:active::before,
.user-block .user-exit:active,
.user-block .user-name:active {
    opacity: 0.3;
}

.user-block .user-orders,
.user-block .user-account {
    font-size: 16px;
    line-height: 21px;
    color: #32425c;
    background: none;
    text-decoration: underline;
}

.user-block .user-orders {
    position: relative;
    margin-left: 17px;
    padding-right: 19px;
}

.user-block .user-account {
    margin-left: 13px;
}

.user-block .user-orders::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 8px;
    right: 0;
    background-color: #32425c;
    border-radius: 50%;
}

.user-block .user-orders:hover,
.user-block .user-account:hover {
    color: #ee3643;
}

.user-block .user-orders:active,
.user-block .user-account:active {
    color: rgba(50,66,92,0.3);
}

.header-navigation {
    border-bottom: 5px solid #293449;
    clear: both;
    text-align: center;
    background-color: #32425c;
}

.header-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.header-navigation li {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
}

.header-navigation a {
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    padding: 19px 30px;
}

.header-navigation a:hover {
    color: rgba(255,255,255,1);
    background-color: #293449;
}

.header-navigation a:active {
    color: rgba(255,255,255,0.5);
    background-color: #1d2739;
}

/*----------breadcrumbs--------------*/

.breadcrumbs {
    list-style: none;
    margin-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    font-family: "PT Sans";
    float: left;
}

.breadcrumbs a {
    display: block;
    text-decoration: none;
    color: #000;
    float: left;
}

.breadcrumbs a::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;
    top: 3px;
    right: 15px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .current {
    color: #000;
}

.icon-right-b {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: black;
    opacity: 0.3;
    right: 0px;
    padding: 0 10px;
}

.icon-home {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: black;
    opacity: 0.3;
    right: 0px;
    padding: 0;
}

/*--------FIRLTER--------------*/

.filter-block {
    width: 220px;
    float: left;
}

.content-column-title {
    padding: 10px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.content-column-title span {
    display: block;
    float: left;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    color: #000;
    font-weight: normal;
}

.filter-group {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.power-supply {
    border-bottom: none;
}

.filter-title {
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.range-controls {
    height: 80px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    border-radius: 3px;
    position: relative;
    margin-bottom: 15px;
    padding: 0 30px;
    overflow: hidden;
}

.scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.bar {
    height: 2px;
    background: #00ca74;
}

.toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.min-toggle {
    left: 25px;
}

.max-toggle {
    left: 155px;
}

.price-controls {
    margin-bottom: 25px;
}

.price-controls input[type="text"] {
    display: block;
    float: left;
    padding: 0;
    width: 95px;
    height: 38px;
    border: none;
    background-color: #f7f3ec;
    border-radius: 3px;
    text-align: center;
}

.price-controls span {
    width: 30px;
    display: block;
    float: left;
    padding: 10px 0;
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    text-align: center;
}

.price-controls input[type="text"]:last-child {
    float: right;
}

.filter-list {
    list-style: none;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: normal;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0;
}

.filter-list li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-list li:last-child {
    margin-bottom: 23px;
}

.filter-list input[type=checkbox],
.filter-list input[type=radio] {
    display: none;
}

.filter-list label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans";
    text-transform: uppercase;
}

.filter-list input[type="radio"] + label {
    font-size: 14px;
}

.filter-list input[type=checkbox] + label::before {
    content: "☐";
    position: absolute;
    top: 1px;
    left: 0;
    width: 23px;
    height: 23px;
    font-family: " symbols-technomart";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #c1c1c1;
}

.filter-list input[type=checkbox]:checked + label::before {
    content: "\2611";
    position: absolute;
    top: 1px;
    left: 0;
    width: 23px;
    height: 23px;
    font-family: "symbols-technomart";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #c1c1c1;
}

.filter-list input[type=radio] + label::before {
    position: absolute;
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    top: 2px;
    left: 3px;
    background-color: #fff;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 0 3px #c1c1c1;
}

.filter-list input[type=radio]:checked + label::before {
    background-color: #c1c1c1;
}

.filter-block button[type="button"] {
    margin-top: 55px;
}

.catalog {
    width: 700px;
    float: right;
}

.sort-controls {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.sort-controls li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

.sort-btn {
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin-left: 60px;
    font-weight: normal;
    font-family: "PT Sans";
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643;
}

.sort-btn:hover {
    text-decoration: none;
    opacity: 1;
    border-bottom: 1px solid #ee3643;
}

.sort-btn-active {
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    font-family: "PT Sans";
    text-decoration: none;
    text-transform: uppercase;
    color: #ee3643;
    opacity: 1;
    border: none;
    margin-right: 10px;
}

a.arrow-down, a.arrow-up {
    display: inline-block;
    height: 10px;
    position: relative;
    top: 4px;
    padding-right: 14px;
}

a.arrow-up {
    margin-right: 15px;
    margin-left: 45px;
}

a.arrow-up::after {
    border-color: transparent transparent #ee3643;
    border-style: solid;
    border-width: 0 5.5px 9.5px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

a.arrow-down::after {
    border-color: #C6C2BD transparent transparent;
    border-style: solid;
    border-width: 9.5px 5.5px 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

a.arrow-down:hover::after {
    border-color: #000000 transparent transparent;
}

a.arrow-down:active::after {
    border-color: #EE3643 transparent transparent;
}

/*-------------shop----------*/

.item {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 220px;
    min-height: 316px;
    border: 1px solid #e5e5e5;
    font-size: 0;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 21px;
}

.item:last-child {
    margin-right: 0;
}

.catalog .item:nth-child(3n+4) {
    margin-right: 0;
}

.catalog .item {
    margin-top: 20px;
}

.actions {
    display: none;
    width: 220px;
    padding: 43px 0;
}

.item:hover {
    box-shadow: 0 10px 23px 0px rgba(41,52,73,0.5);
}

.item:hover .actions {
    display: block;
}

.item:hover .item-image,
.item:hover .item-image img {
    display: none;
}

.paginator {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    clear: both;
}

button[type="button"],
.paginator li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 22px;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}

.paginator-btn,
.range-filter button[type="button"] {
    display: block;
    width: 36px;
    padding: 9px 0;
    color: #000;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    list-style-type: none;
    text-decoration: none;
    border-radius: 3px;
}

.paginator-btn:hover,
.range-filter button[type="button"]:hover {
    border-color: #c1c6ce;
}

.paginator-btn:active,
.range-filter button[type="button"]:active {
    border-color: #ee3643;
}

.paginator-btn-active {
    display: block;
    width: 38px;
    padding: 10px 0;
    color: #fff;
    background-color: #ee3643;
    border-radius: 3px;
}

.paginator .next-page,
.range-filter button[type="button"] {
    width: 138px;
}

/*------------promo--------------*/

.promo-content {
    margin-top: 60px;
    margin-bottom: 35px;
}

.promo {
    width: 275px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    font-family: "Cuprum";
}

.promo-machinery {
    margin-right: 0;
}

.promo-discount,
.promo-delivery {
    margin-right: 0;
    float: right;
}

.promo-materials {
    background: #f6b22d url("../img/icon-bucket.png") no-repeat 214px 31px;
}

.promo-tools {
    background: #4aafde url("../img/icon-drill.png") no-repeat 197px 34px;
}

.promo-machinery {
    background: #cc79d1 url("../img/icon-tractor.png") no-repeat 190px 31px;
}

.promo-discount {
    background: #85d179 url("../img/icon-bucket.png") no-repeat 197px 27px;
}

.promo-delivery {
    background: #f6b22d url("../img/icon-track.png") no-repeat 191px 32px;
}

.flag-new {
    position: relative;
}

.flag-new::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 59px;
    top: -1px;
    right: -1px;
    background: url("../img/new.png") no-repeat;
    z-index: 100;
}

.promo-title {
    position: relative;
    bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}

.promo-btn {
    display: block;
    width: 135px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    text-align: center;
}

.promo-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.slider {
    position: relative;
    width: 620px;
    height: 266px;
    min-height: 266px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

.slider-top {
    position: absolute;
    top: 25px;
    left: 25px;
}

.slider-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    font-family: "Cuprum";
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.slider-text {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: normal;
    font-family: "PT Sans";
}

.btn {
    padding: 10px 0;
    color: #fff;
    background-color: #ee3643;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
}

.slider .btn {
    padding: 10px 48px;
    tab-size: 14px;
}

.icon-left,
.icon-right {
    position: absolute;
    top: 114px;
    display: block;
    width: 22px;
    height: 40px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
}

.icon-right {
    right: 30px;
}

.icon-left:hover,
.icon-right:hover {
    opacity: 1;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.btn-show-catalog {
    position: relative;
    top: 130px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 266px;
    background-repeat: no-repeat;
    background-position: 100% 10px;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 10;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    line-height: 0;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    vertical-align: top;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slide-title {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

.slide {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.slide .btn-slide {
    padding: 12px 48px;
    position: absolute;
    bottom: 23px;
    left: 26px;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-1.jpg");
    background-position: left top;
}

.slide:nth-child(2) {
    background-image: url("../img/slider-2.jpg");
    background-position: left top;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
    left: 660px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -660px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background: #ee3643
}

/*----------section----------*/

.section:last-child {
    margin-bottom: 85px;
}

.section-header,
.main-content .section-header {
    margin-bottom: 20px;
    background-color: #f2f6f8;
}

.section-header {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 27px;
    padding-left: 29px;
    background-color: #f7f3ec;
}

.section-header .section-title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    color: #32425c;
    font-weight: normal;
    font-family: "Cuprum";
    text-transform: uppercase;
}

.section-title {
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    font-weight: bold;
    font-family: "Cuprum";
    text-transform: uppercase;
}

.section-header .btn {
    width: 255px;
    float: right;
}

.content-column-title {
    padding: 13px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*---------catalog----------*/

.catalog-items {
    float: left;
    font-size: 0;
}

.catalog-item {
    font-size: 16px;
    font-weight: 60;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.catalog-item:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 5px;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.shop .catalog-item {
    margin-right: 20px;
}

.shop .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff;
}

.actions .buy,
.actions .bookmark {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    display: block;
    width: 135px;
    margin: 0 auto 7px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
    background-color: #63a63e;
}

.actions .buy {
    box-shadow: inset 0 -3px 0 #367315;
}

.actions .bookmark {
    width: 129px;
    padding: 7px 0;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #fff;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.catalog-item-image {
    width: 218px;
    height: 168px;
    overflow: hidden;
}

.catalog-item-image img {
    max-width: 100%;
}

.catalog-item .title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 25px;
}

.catalog-item .discount {
    min-height: 20px;
    margin-bottom: 10px;
    text-decoration: line-through;
    color: #999;
}

.catalog-item .price {
    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 11px 30px;
    color: #fff;
    border-radius: 3px;
    background: #ee3643;
}

.catalog-item .price:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 20px solid #fff;
    border-left-color: #ee3643;
}

.brands a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    opacity: 1;
    border: 1px solid #e5e5e5;
}

.brands a:nth-child(4n+4) {
    margin-right: 0;
}

.brands a:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px 5px;
}

.brands a:active {
    border: none;
    opacity: 0.3;
}

/*---------services-----------*/

.section-services,
.catalog-information {
    margin-top: 55px;
    padding-top: 17px;
    background-color: #f2f6f8;
}

.catalog-information {
    padding-bottom: 60px;
    min-width: 960px;
}

.section-title {
    width: 540px;
    font-size: 30px;
    line-height: 24px;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum";
    text-transform: uppercase;
}

.section-text {
    font-size: 13px;
    line-height: 24px;
    color: #000;
    font-weight: normal;
    font-family: "PT Sans";
}

.section-services .section-text {
    width: 400px;
    padding-bottom: 60px;
}

.services-slider {
    height: 284px;
    position: relative;
    width: 940px;
}

.services-slide {
    left: 0;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.services-slide p {
    margin: 2px 0 0;
    padding: 0 346px 0 320px;
}

.services-slide .title {
    color: #32425C;
    font-family: 'Cuprum';
    font-size: 36px;
    font-weight: 40;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.services-slide .details {
    color: #000000;
    font-family: 'PT Sans';
    font-size: 13px;
    font-weight: 40;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
}

.services-slide:nth-child(2) .details {
    padding-right: 240px;
}

.services-slide:nth-child(3) .details {
    margin-bottom: 40px;
    padding-right: 340px;
}

.services-slide:nth-child(1) {
    background-image: url("../img/bg-post-car.png");
    background-position: 100% 22px;
    background-repeat: no-repeat;
}

.services-slide:nth-child(2) {
    background-image: url("../img/bg-guarantee.png");
    background-position: 100% 2px;
    background-repeat: no-repeat;
}

.services-slide:nth-child(3) {
    background-image: url("../img/bg-100-award.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.services-slide .btn {
    margin-left: 320px;
    padding: 10px 45px;
}

input[type="radio"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.services-slider-controls {
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}

.services-slider-controls:after {
    content: '';
    position: absolute;
    right: 0;
    top: -20px;
    width: 10px;
    height: 222px;
    background: url(../img/vertical-line.png) no-repeat;
}

.services-slider-controls label {
    background-color: #32425C;
    border-bottom-color: #293449;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #405069;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    display: block;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding-bottom: 16px;
    padding-left: 23px;
    padding-top: 12px;
    text-transform: none;
    width: 217px;
}

.services-slider-controls label:hover {
    background-color: #293449;
}

#delivery-btn:checked ~ .services-slider-controls label[for="delivery-btn"], 
#guaranty-btn:checked ~ .services-slider-controls label[for="guaranty-btn"], 
#credit-btn:checked ~ .services-slider-controls label[for="credit-btn"] {
    background-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 1px;
    color: #32425C;
}

.services-slide {
    display: none;
}

#delivery-btn:checked ~ .services-slides .services-slide:nth-child(1) {
    display: block;
}

#guaranty-btn:checked ~ .services-slides .services-slide:nth-child(2) {
    display: block;
}

#credit-btn:checked ~ .services-slides .services-slide:nth-child(3) {
    display: block;
}

/*---------about-us----------*/

.about-us {
    padding-top: 82px;
    padding-bottom: 86px;
}

.about-company {
    width: 540px;
    float: left;
}

.about-us .section-text p {
    margin-bottom: 24px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    ;
	margin-top: 28px;
}

.about-us .section-text {
    margin-top: 35px;
}

.about-us .section-title {
    margin-bottom: 35px;
}

.section-list li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: normal;
    font-family: "Cuprum";
    list-style-type: none;
    padding-left: 36px;
    margin-bottom: 20px;
}

.section-list li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.about-company .btn {
    padding: 14px 40px;
}

.contacts .btn {
    padding: 14px 0px;
    padding-left: 67px;
    padding-right: 68px;
    ;
}

.contacts {
    width: 300px;
    float: right;
}

.contacts img {
    width: 300px;
    height: 158px;
    margin-top: 35px;
    padding-bottom: 45px;
}

/*----FOOTER----*/

.main-footer {
    min-width: 960px;
    background: #f1f5f7;
}

.footer-top {
    min-height: 195px;
    background: #32425c;
}

.footer-left {
    width: 340px;
    float: left;
}

.footer-logo {
    width: 220px;
    height: 50px;
    float: left;
    padding-top: 10px;
    text-align: center;
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    background: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    text-decoration: none;
    color: #ffffff;
}

.footer-logo:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.footer-logo:active {
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.footer-contacts {
    float: left;
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
}

.footer-right {
    width: 600px;
    float: right;
}

.footer-navigation {
    float: right;
    margin-top: 37px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    clear: both;
    float: right;
    margin-bottom: 40px;
}

.footer-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-left: 55px;
}

.footer-nav li:first-child {
    margin-left: 0;
}

.footer-nav a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    font-weight: normal;
    font-family: "Cuprum";
    text-decoration: none;
}

.footer-nav a:hover,
.footer-catalog a:hover {
    text-decoration: underline;
}

.footer-nav a:active,
.footer-catalog a:active {
    opacity: 0.5;
}

.footer-catalog {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    float: right;
    clear: both;
}

.footer-catalog li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-left: 55px;
}

.footer-catalog li:first-child {
    margin-left: 0;
}

.footer-catalog a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    font-weight: normal;
    font-family: "Cuprum";
    text-decoration: none;
}

.footer-bottom {
    min-height: 105px;
    background: #293449;
}

.copyright {
    width: 330px;
    padding-top: 20px;
    float: left;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.footer-socials {
    display: inline-block;
    padding-top: 35px;
    vertical-align: top;
    width: 250px;
}

.social-btns {
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    margin-left: 60px;
}

.icon-vk,
.icon-twitter,
.icon-facebook {
    position: relative;
    top: 10px;
    left: 6px;
    color: #fff;
    font-size: 20px;
}

.social-btns a {
    background-color: #212A3A;
    border-radius: 50%;
    display: inline-block;
    height: 42px;
    margin-right: 3px;
    position: relative;
    width: 42px;
}

.social-btns a:hover {
    background-color: #EE3643;
}

.social-btns a:active {
    background-color: #EE3643;
}

.footer-feedback {
    color: #fff;
    float: right;
    padding-top: 35px;
}

.footer-feedback span {
    display: inline-block;
    font-size: 16px;
    font-weight: 40;
    line-height: 18px;
    margin: 0;
    vertical-align: top;
    padding-right: 5px;
    padding-left: 45px;
}

.footer-feedback a {
    color: #ffd180;
}

.footer-feedback a:hover {
    text-decoration: underline;
}

.footer-feedback a:active {
    color: #EE3643;
    text-decoration: none;
}

/*---------POP-UP----------*/

.pop-up {
    display: none;
    position: fixed;
    width: 620px;
    top: 200px;
    left: 50%;
    margin-left: -310px;
    border-top: 7px solid #ee3643;
    background-color: #ffffff;
    z-index: 1000;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.modal-content-show {
    display: block;
}

.modal-animation {
    animation-name: flip;
    animation-duration: 0.5s;
}

.pop-up-close {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 9px;
    right: 9px;
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
}

.pop-up-close::before,
.pop-up-close::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 5px;
    top: 8px;
    right: -2px;
    background-color: #ee3643;
    border-radius: 1px;
}

.pop-up-close::before {
    transform: rotate(45deg);
}

.pop-up-close::after {
    transform: rotate(-45deg);
}

.pop-big-map {
    top: 43%;
    left: 50%;
    margin-top: -256px;
    margin-left: -470px;
    width: 940px;
    height: 446px;
    box-shadow: 0 0 16px 8px rgba(35,31,32,0.5);
    border: none;
}

@keyframes flip {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-8%);
    }

    65% {
        transform: translateY(4%);
    }

    80% {
        transform: translateY(-4%);
    }

    95% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0%);
    }
}

.border0 {
    border: 0;
}
